@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-ubuntu;
}

.login-box {
    @apply bg-white rounded-md shadow-xl mx-6 my-8 px-5 py-6 md:mx-52 md:rounded-xl lg:mx-[30em];
}

.login-title {
    @apply text-gray-800 font-ubuntu font-semibold text-2xl;
}

.form-control {
    @apply shadow-md border-gray-800 border-[1px] border-opacity-25 rounded-md px-3 py-2.5 text-sm font-light w-full mb-5 outline-none focus:ring focus:ring-form-100 focus:ring-opacity-30 lg:py-3 lg:w-full;
}

.form-button {
    @apply  bg-form-100 py-2 text-white rounded-md shadow-md shadow-form-100 w-full mb-4 transition duration-500 hover:bg-form-200;
}

.google-button {
    @apply  shadow-md border-gray-800 border-[1px] border-opacity-25 rounded-md px-3 py-2.5 text-[15px] font-light w-full mb-5 flex justify-center items-center gap-1 transition duration-300 hover:scale-105;
}

.show-menu {
    @apply -translate-x-0;
}

.navbar-box {
    @apply bg-transparent flex items-center justify-between text-gray-800 px-6 py-1 md:px-10 lg:px-32;
}

.mobile-menu {
    @apply w-[50%] bg-white px-4 fixed bottom-0 top-0 left-0 right-0 py-4 shadow-md md:hidden;
}

.mobile-link {
    @apply mb-3 text-gray-800 text-[16px] cursor-pointer hover:text-blue-400 transition duration-300;
}

.desk-link {
    @apply text-white hover:text-blue-400 transition duration-300 cursor-pointer;
}

.reset-button {
    @apply  bg-yellow-400 py-2 text-gray-800 rounded-md shadow-md shadow-yellow-400 w-full mb-4 transition duration-500 hover:bg-yellow-500;
}

.delete-button {
    @apply  bg-red-400 py-2 text-gray-800 rounded-md shadow-md shadow-red-400 w-full mb-4 transition duration-500 hover:bg-red-500;
}

.show-setting {
    @apply -translate-y-0 opacity-100;
}

.header {
    background-image: url(../public/image/wedding.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding-top: 36vh;
}